/* #box {
  background-color: aqua;
  width: 100px;
} */

/* #box {
  aspect-ratio: 1/1;
} */

#box {
  width: 300px;
}

/* 传统：通过padding with % 控制。缺点：不能有内容 */
.content {
  padding-bottom: 100%;
  background-color: lightsalmon;
}
